/* Normalize */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Garamond, serif;
}

dd {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border-style: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
/* Principal Page */

main {
  display: flex;
}

.img-principal {
  height: 100vh;
}

#img-principal {
  height: 100%;
  display: block;
}

#scroll-smooth {
  position: absolute;
  align-self: flex-end;
  left: 50%;
  margin-right: -50%;
  margin-top: 1px;
}

#cc-button {
  order: 1;
  cursor: pointer;
  width: 48px;
  height: 36px;
  background-color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  margin-top: 150px;
  margin-right: 50px;
  border-color: #707070;
  border: solid;
}

#header {
  align-self: center;
}

#header h1 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: bold;
  line-height: 3.75rem;
}

#header p {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 40px;
}

#header quote {
  font-size: 2rem;
  font-style: italic;
}

/* Text parte 1 */
p {
  margin-bottom: 20px;
}

.text,
dd {
  margin: 0 auto;
  max-width: 665px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  line-height: 2.1rem;
}

#intro {
  margin-top: 35px;
}

.emphasis {
  padding-top: 0;
  margin-right: 12px;
  line-height: 0.83;
  font-size: 4.125rem;
  float: left;
  position: relative;
  display: block;
  box-sizing: inherit;
}

/* Image */
#img-musashi {
  margin: 0 auto;
  width: 670px;
}
/*Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#img-github {
  margin: 0 auto;
  width: 212px;
  height: 212px;
  background-color: blue;
}

#rights-alert {
  margin: 0 auto;
  max-width: 665px;
  text-align: center;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25rem;
}

.accordion-list h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0px;
  text-align: center;
}

.line-separator {
  height: 1px;
  background: #000000;
  border-bottom: 4px solid #313030;
  max-width: 180px;
  margin: 0 auto;
}

.accordion-list hr {
  max-width: 665px;
}

.accordion-list dt {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  max-width: 665px;
  margin-bottom: 10px;
  cursor: pointer;
  align-content: center;
}

@media only screen and (min-width: 788px) and (max-width: 982px) {
  /* Principal Page */
  main {
    height: 100vh;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .img-principal {
    height: 100vh;
    display: none;
  }

  #img-principal {
    display: none;
  }

  #cc-button {
    order: 0;
    align-self: start;
    margin-right: -0px;
    padding: 0;
  }
}

@media only screen and (max-width: 787px) {
  /* Principal Page */
  main {
    height: 100vh;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .img-principal {
    height: 100vh;
    display: none;
  }

  #img-principal {
    display: none;
  }

  #cc-button {
    order: 0;
    align-self: start;
    padding: 0;
    margin-top: 140px;
    margin-left: 20px;
    margin-right: -20px;
  }

  #header {
    margin: 0 auto;
  }

  #header h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  #header p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 40px;
  }

  #header quote {
    font-size: 2rem;
    font-style: italic;
  }
  /* Text */
  .text,
  dd {
    font-size: 1.3rem;
    line-height: 2.1rem;
  }

  .line-separator {
    margin-top: 5px;
    margin-bottom: 30px;
    max-width: 80px;
  }
}
