/* Normalize */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Garamond, serif;
}

dd {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border-style: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
/* Principal Page */

main {
  display: flex;
}

.img-principal {
  height: 100vh;
}

#img-principal {
  height: 100%;
  display: block;
}

#scroll-smooth {
  position: absolute;
  align-self: flex-end;
  left: 50%;
  margin-right: -50%;
  margin-top: 1px;
}

#cc-button {
  order: 1;
  cursor: pointer;
  width: 48px;
  height: 36px;
  background-color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  margin-top: 150px;
  margin-right: 50px;
  border-color: #707070;
  border: solid;
}

#header {
  align-self: center;
}

#header h1 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: bold;
  line-height: 3.75rem;
}

#header p {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 40px;
}

#header quote {
  font-size: 2rem;
  font-style: italic;
}

@media only screen and (min-width: 788px) and (max-width: 982px) {
  main {
    height: 100vh;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .img-principal {
    height: 100vh;
    display: none;
  }

  #img-principal {
    display: none;
  }

  #cc-button {
    order: 0;
    align-self: start;
    margin-right: -0px;
    padding: 0;
  }
}

@media only screen and (max-width: 787px) {
  main {
    height: 100vh;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .img-principal {
    height: 100vh;
    display: none;
  }

  #img-principal {
    display: none;
  }

  #cc-button {
    order: 0;
    align-self: start;
    padding: 0;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: -20px;
  }

  #header {
    margin-right: 20px;
  }

  #header h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  #header p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 40px;
  }

  #header quote {
    font-size: 2rem;
    font-style: italic;
  }
}
