[data-anime="accordion"] dt::before {
  content: "► ";
}

[data-anime="accordion"] dt.active::before {
  content: "▼";
}

[data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dd.active {
  display: block;
  animation: slideDown 0.5s forwards;
}

.accordion-list {
  margin-top: 1rem;
}

.accordion-list h2 {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  max-width: 640px;
  margin: 0 auto;
}

.accordion-list h2::after {
  content: "";
  height: 1px;
  background: #000000;
  border-bottom: 2px solid #313030;
  max-width: 320px;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.accordion-list hr {
  max-width: 640px;
}

.accordion-list dt {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  max-width: 680px;
  cursor: pointer;
  align-content: center;
}

.open-dt {
  margin-top: 1rem;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 650px;
    opacity: 1;
  }
}
