main {
  display: flex;
}

.img-principal {
  height: 100vh;
  animation: slideRight 2s forwards;
}

.cc-button {
  order: 1;
  cursor: pointer;
  width: 48px;
  height: 36px;
  background-color: white;
  font-size: 1.15rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  margin-top: 150px;
  margin-right: 50px;
  border-color: #707070;
  border: solid;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  animation: slideLeft 2s forwards;
}

#principal {
  height: 100%;
}

#scroll-smooth {
  cursor: pointer;
  position: absolute;
  align-self: flex-end;
  left: 50%;
  margin-right: -50%;
  margin-top: 1px;
}

#header {
  align-self: center;
  animation: slideLeft 2s forwards;
}

#header h1 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: bold;
  line-height: 3.75rem;
}

#header p {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 40px;
}

#header quote {
  font-size: 1.5rem;
  font-style: italic;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
    behavior: "smooth";
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
